<%= form_with(model: blogpost, local: true, html: {multipart: true} ) do |form| %>
  <% if blogpost.errors.any? %>
    <div class="callout alert large">
      <h2><%= pluralize(blogpost.errors.count, "error") %> prohibited this blogpost from being saved:</h2>

      <ul>
      <% blogpost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="tabs" data-responsive-accordion-tabs="tabs medium-accordion large-tabs" id="form-tabs">
      <li class="tabs-title is-active"><a href="#blogpost-fields" aria-selected="true">Blogpost</a></li>
      <li class="tabs-title"><a href="#trip-fields">Trip</a></li>
      <li class="tabs-title"><a href="#locations-fields">Locations</a></li>
      <li class="tabs-title"><a href="#images-fields">Images</a></li>
  </ul>
  
  <div class="tabs-content" data-tabs-content="form-tabs">
      <div class="tabs-panel is-active" id="blogpost-fields">
	  <div class="field">
	      <%= form.label :title %>
	      <%= form.text_field :title, id: :blogpost_title %>
	  </div>

	  <div class="field">
	      <%= form.label :content %>
	      <%= form.text_area :content, id: :blogpost_content, rows: 10 %>
	  </div>
      </div>

      <div class="tabs-panel" id="trip-fields">
	  <%= form.fields_for :trip do |trip_form| %>
	      <%= render 'trips/trip_fields', f: trip_form %>
	  <% end %>
      </div>

      <div class="tabs-panel" id="locations-fields">
	  <%= form.fields_for :locations do |location_form| %>
	      <%= render 'locations/location_fields', f: location_form %>
	  <% end %>

	  <%= link_to_add_association 'Add location', form, :locations,
	      partial: 'locations/location_fields', class: 'button' %>
      </div>

      <div class="tabs-panel" id="images-fields">
	  <%= form.fields_for :images do |image_form| %>
	      <%= render 'images/image_fields', f: image_form %>
	  <% end %>

	  <%= link_to_add_association 'Add image', form, :images,
	      partial: 'images/image_fields', class: 'button' %>
      </div>
  </div>

  <br />
  
  <div class="actions">
    <%= form.submit class: 'button' %>
  </div>
<% end %>
