<fieldset class="nested-fields">
    <div class="row">
	<% if f.object.new_record? %>
	    <div class="medium-6 columns">
		<%= f.file_field :file%>
	    </div>
	<% else %>
	    <div class="medium-6 columns">
		<%= image_tag f.object.file.url(:icon) %>
	    </div>
	<% end %>
	<div class="medium-6 columns">
	    <%= link_to_remove_association "Remove image", f, class: 'button' %>
	</div>
    </div>
    <%= f.label :label %>
    <%= f.text_field :label, id: "image_label_#{f.object.to_param}" %>
</fieldset>
